<div class="mat-display-1" fxLayout="row" fxLayoutAlign="space-between">
  <span fxFlex="50%"> Genres </span>
  <div *ngIf="selected">
    <mat-chip>
      {{ selected }}
    </mat-chip>
  </div>
</div>

<mat-divider></mat-divider>

<div
  class="chips"
  fxLayout="row wrap"
  fxLayoutAlign="space-between"
  *ngIf="genres | async as genreslist"
>
  <mat-chip-list>
    <mat-chip
      *ngFor="let genre of genreslist"
      [value]="genre"
      (click)="onChange(genre)"
    >
      {{ genre }}
    </mat-chip>
  </mat-chip-list>
</div>

<app-track-data-table [trackTableData]="trackTableData"></app-track-data-table>

<!-- Error handling -->
<div fxFlex *ngIf="error">
  <app-error [error]="error"></app-error>
</div>
